{% extends 'master.html' %}
{% block title %}
    تغییرکلمه عبور
{% endblock %}

{% block content %}
    <section class="row">
        {% include 'user_panel/includes/sidebar.html' %}
        <main id="main-body" class="main-body col-md-9">
            <section class="content-wrapper bg-white p-3 rounded-2 mb-2">
                <section class="content-header mb-4">
                    <section class="d-flex justify-content-between align-items-center">
                        <h2 class="content-header-title">
                            <span>اطلاعات حساب</span>
                        </h2>
                        <section class="content-header-link">
                            <!--<a href="#">مشاهده همه</a>-->
                        </section>
                    </section>
                </section>
                {% for error in form.none_field_errors %}
                    <p class='alert alert-danger'>{{ error }}</p>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    <section class='login-title mb-3'>{{ form.password.label_tag }}</section>
                    <section class="login-input-text mb-3"> {{ form.password }}</section>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}

                    <section class='login-title mb-3'>{{ form.confirm_password.label_tag }}</section>
                    <section class="login-input-text mb-3"> {{ form.confirm_password }}</section>
                    {% for error in form.confirm_password.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}

                    <section class="col-3 ms-auto py-2">

                        <section class="field-value overflow-auto d-grid">
                            <button type="submit" class="btn btn-info btn-block">تغییر کلمه عبور</button>
                        </section>
                    </section>
                </form>

            </section>
        </main>
    </section>

{% endblock %}


