asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-admin-persian-fonts==0.2
django-cleanup==8.0.0
django-dump-die==0.1.5
ghasedakpack==0.1.13
idna==3.4
Pillow==9.5.0
requests==2.31.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
sweetify==2.3.1
urllib3==2.0.3
