{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title> {% block title %}{% endblock  %} </title>
</head>
<body>
    <section class="vh-100 d-flex justify-content-center align-items-center pb-5">
         {% block content %}{% endblock  %}
    </section>
</body>
</html>

{% block script %}
   
{% endblock %}

